name: Build EXE

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: PyInstaller Action
        uses: sayyid5416/pyinstaller@v1
        with:
          spec: 'main.py' 
          upload_exe_with_name: 'edtion0.1' 
