name: Build Music Player EXE

# 触发条件：当你手动点击 Run workflow 时触发
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    # 1. 拉取代码
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. 安装 Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11' # 推荐使用稳定版本

    # 3. 安装依赖库
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller


    - name: Build EXE with PyInstaller
      run: |
        pyinstaller --noconsole --onefile --name "MusicPro" --icon="app_icon.ico" --add-data "app_icon.ico;." --collect-all tkinterdnd2 main.py



    # 5. 上传生成的 exe 文件供下载
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: MusicPro-Executable
        path: dist/MusicPro.exe
